body {
  background-color: #F9FCFF;
}
.ant-menu-item:hover, .ant-menu-item-selected{
  color: #DF3034 !important;
  background-color: #FDE9E9 !important;
}

.ant-menu-item-selected::after {
  border-right: #DF3034 !important;
}

.ant-menu-item:hover .iconDashboard, .ant-menu-item-selected .iconDashboard{
  color: #DF3034 !important;
}

.bulet{
  background-color: #E0E0E0;
  color: #433B3B;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.buletSelected{
  background-color: #DF3034;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}