.dokterWrapper{
    background: #F9FCFF;
    padding-top: 10%;
}
.dokterPageTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #A5090C;
}
.filter{
    filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.15));
    background: #FFFFFF;
    border-radius: 20px;
}
.button2{
    background: #DF3034;
    border-radius: 8px;
    padding: 8px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.button2:hover{
    background: #A5090C;
}

@media (max-width:1024px){
    .dokterWrapper{
        background: #F9FCFF;
        padding-top: 15%;
    }
}

@media (max-width:768px){
    .dokterWrapper{
        background: #F9FCFF;
        padding-top: 22.5%;
    }
}

@media (max-width:576px){
    .dokterWrapper{
        background: #F9FCFF;
        padding-top: 47.5%;
    }
}