.doctorwrapper{
    background: #F9FCFF;
}
.doctorTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #A5090C;
}
.doctorText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8D8D8D;
}
.doctorImg{
    position: absolute;
    transform: translateX(-50%);
    margin-top: 35px;
    height: 150px;
}