.dokterWrapper{
    background: #F9FCFF;
    padding-top: 7.5%;
}
.dokterPageTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #A5090C;
}
.filter{
    filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.15));
    background: #FFFFFF;
    border-radius: 20px;
}