.SidebtnContainer {
  position: fixed;
  right: 0%;
  bottom: 5%;
  z-index: 90;
  transition: all 300ms;
}
/* .wabtn{
  width: 85%;
} */
@media(max-width:768px){
  .SidebtnContainer{
    right: 15%;
    bottom: 2%;
  }
  .wabtn{
    width: 200%;
  }
}
@media(max-width:576px){
  .SidebtnContainer{
    right: 25%;
    bottom: 2%;
  }
  .wabtn{
    width: 200%;
  }
}
/* 
.SidebtnContainer .container {
  position: relative;
  width: 50px;
  height: 50px;
}

.SidebtnContainer .container .iconContainer {
  background: linear-gradient(180deg, #DF3034 16.75%, #F58C8F 98.4%, #F36D71 98.4%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 50%;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  
}
.SidebtnContainer .container .iconContainer .icon {
  height: 55px;
  width: 55px;
  z-index: 100;
}
.SidebtnContainer .container .extendSide {
  cursor: pointer;
  right: 0%;
  background: linear-gradient(180deg, #DF3034 16.75%, #F58C8F 98.4%, #F36D71 98.4%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  position: absolute;
  top: 0%;
  bottom: 0;
  align-items: center;
  color: white;
  padding-left: 60%;
  margin-left: 20%;
  min-width: 200px;
  z-index: 80;
}

.scroll {
  right: 5%;
  top: 90%;
  bottom: 10%;
} */
