.hero-wrapper {
  padding-top: 12.5%;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  background: linear-gradient(180deg, #ffffff 0%, #edf6ff 35.55%);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}
.hero-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #a5090c;
  padding-right: 10%;
}
.hero-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #8d8d8d;
  padding-right: 15%;
}
.hero-right {
  align-self: center;
}
.button {
  background: #df3034;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button:hover {
  background: #a5090c;
}
.hero-btn-wrapper {
  margin-top: 12.5%;
}

@media (max-width: 1024px) {
  .hero-text,
  .hero-title,
  .hero-download-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .hero-title {
    font-size: 32px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 150%;
    padding-right: 0;
  }
  .hero-left {
    padding-top: 7.5%;
  }
  .hero-right {
    padding-top: 7.5%;
  }
  .hero-wrapper {
    min-height: 45vh;
  }
}
@media (max-width: 768px) {
  .hero-text,
  .hero-title,
  .hero-download-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .hero-title {
    font-size: 32px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 150%;
  }
  .hero-right {
    padding-top: 25%;
  }
  .hero-wrapper {
    min-height: 60vh;
  }
}
@media (max-width: 576px) {
  .hero-text,
  .hero-title,
  .hero-download-wrapper {
    padding-left: 0%;
    padding-right: 0%;
  }
  .hero-download {
    width: 170px;
    height: 60px;
  }
  .hero-left {
    padding-top: 30%;
  }
  .hero-title {
    font-size: 42px;
  }
  .hero-text {
    font-size: 18px;
    line-height: 150%;
  }
  .hero-right {
    padding-top: 15%;
  }
}
@media (max-width: 320px) {
  .hero-text,
  .hero-title,
  .hero-download-wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
  .hero-title {
    font-size: 32px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 150%;
  }
  .hero-download {
    width: 150px;
    height: 54px;
  }
}
