.testi-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #A5090C;
}
.swiper-button-prev,
.swiper-button-next {
    color: #DF3034 !important;
    font-weight: bold;
    font-size: 0.5rem !important;
    background: rgba(255, 255, 255, 0.6) !important;
    border-radius: 50% !important;
    /* margin: -20px; */
}
.swipercarouselphone{
    display: none;
}

@media(max-width:768px){
    .swipercarousel{
        display: none;
    }
    .swipercarouselphone{
        display: block;
    }
}
