.testi-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #A5090C;
}
.swiper-button-prev,
.swiper-button-next {
    color: rgb(239, 239, 239) !important;
    font-weight: bold;
    font-size: 0.7rem;
    /* margin: -20px; */
}

@media(max-width:1024px){
    /* .card{
        width: 90vw;
    } */
}
@media(max-width:576px){
    /* .card{
        aspect-ratio: 9/16;
        width: 100%;
    }
    .card .poster img{
        width:300%;
    }
    .card .details{
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 20px;
    } */
}
